<h1> <%= @picture[:title] %> </h1>
<img src="<%= @picture[:url] %>" class ="picture">

<%= form_for @picture do |f| %>  
	<p>
		<label>Artist</label>
		<%= f.text_field "artist" %>
	<p/>
	<p>
		<label>Title</label>
		<%= f.text_field "title" %>
	</p>
	<p>
		<label>URL</label>
		<%= f.text_field "url" %>
	</p>
	
	<p>
		<%= f.submit "Update" %>		
	</p>
	
<% end %>