<h2>
	<em>Hello from
		<a href="mailto:ashley.beattie@gmail.com">Ashley</a> And 
		<a href="mailto:nickjoegray@gmail.com">Nick</a>
	</em>
</h2>


<%= link_to "New Picture", new_picture_path %>


<h3 class="fav_tings">These are a few of our favourite things.</h3>

<a href="<%= new_picture_path %>" class="btn">Create a New Image</a>	

asdflkahjsdklfhjasdf

<%= @pictures.each do |picture| %>		
	<p>
		<p class="title"><%= picture.title %></p>
		<a href='<%= picture_path(picture)%>'><img src="<%= picture.url %>" class ="picture"></a>
		<p class="artist">Artist: <%= picture.artist %></p>
		<a href='<%= edit_picture_path(picture[:id]) %>' class="btn">Edit This Image</a>
		<%= button_to "Delete This Picture", picture_path(picture), :method => :delete %>		
	</p>
<% end %>

asdf;lakjsdf;lkasjdf