<h1>Add a picture</h1>

<!-- #create a form for a picture --by iterating over the items -->

<%= form_for @picture do |f| %>  
	<p>
		<label>Artist</label>
		<% if @picture.errors.messages %>
			<p><%= f.text_field "artist"%>BAD</p>
		<% else %>
			<p><%= f.text_field "artist"%>GOOD</p>
		<% end %>
	<p/>

	<p>
		<label>Title</label>
		<% if @picture.errors.messages %>
			<p><%= f.text_field "title"%>BAD</p>
		<% else %>
			<p><%= f.text_field "title"%>GOOD</p>
		<% end %>
	</p>
	<p>
		<label>URL</label>
		<% puts @picture.errors.messages %>
		<% if @picture.errors.messages %>
			<p><%= f.text_field "url"%>BAD</p>
		<% else %>
			<p><%= f.text_field "url"%>GOOD</p>
		<% end %>
	</p>
	
	<p>
		<%= f.submit "Save" %>		
	</p>
	
<% end %>