<h1>Show the picture</h1>

<h1> <%= @picture[:title] %> </h1>
<img src="<%= @picture[:url] %>" class ="picture">
<h1> <%= @picture[:artist] %> </h1>		

<% if @picture[:copyrighted] %>
	<p>This Picture Is Copyrighted!</p>
<% end %>

<%= button_to "Edit This Image", edit_picture_path(@picture), :method => :get %>  
<%= button_to "Delete This Image", picture_path(@picture[:id]), :method => :delete, :confirm => "Are you sure you want to delete the picture" %>
